<script type="text/javascript">
	try{ace.settings.loadState('sidebar')}catch(e){}
</script>

<ul class="nav nav-list">
	<li class="<% if (contents === 'contents/team_list') {%>active<%}%>">
		<a href="/dashboard/team_list<% if (team_id) {%>?team_id=<%= team_id %><%}%>">
			<i class="menu-icon fa fa-tachometer"></i>
			<span class="menu-text"> 팀 리스트 </span>
		</a>

		<b class="arrow"></b>
		
	</li>

	<li class="<% if (contents === 'contents/create_team') {%>active<%}%>">
		<a href="/dashboard/create_team<% if (team_id) {%>?team_id=<%= team_id %><%}%>">
			<i class="menu-icon fa fa-desktop"></i>
			<span class="menu-text">
				팀 만들기
			</span>
		</a>

		<b class="arrow"></b>
		
	</li>
	
	<li class="<% if (contents === 'contents/team_schedule') {%>active<%}%>">
		<a href="/dashboard/team_schedule/<%= team_id %>">
			<i class="menu-icon fa fa-calendar"></i>

			<span class="menu-text">
				팀 캘린더
			</span>
		</a>

		<b class="arrow"></b>
	</li>
	
<!-- 	
	<li class="">
		<a href="#" class="dropdown-toggle">
			<i class="menu-icon fa fa-file-o"></i>

			<span class="menu-text">
				팀 공유 파일
			</span>
		</a>

		<b class="arrow"></b>
		
	</li>
	
	<li class="">
		<a href="#" class="dropdown-toggle">
			<i class="menu-icon fa fa-pencil-square-o"></i>
			<span class="menu-text"> 팀 공지사항 &amp; 회의록 </span>

			<b class="arrow fa fa-angle-down"></b>
		</a>

		<b class="arrow"></b>

		<ul class="submenu">
			<li class="">
				<a href="form-elements.html">
					<i class="menu-icon fa fa-caret-right"></i>
					공지사항
				</a>

				<b class="arrow"></b>
			</li>

			<li class="">
				<a href="form-elements-2.html">
					<i class="menu-icon fa fa-caret-right"></i>
					회의록
				</a>

				<b class="arrow"></b>
			</li>

		</ul>
	</li>
	
	<li class="">
		<a href="gallery.html">
			<i class="menu-icon fa fa-weixin" ></i>
			<span class="menu-text"> 팀 채팅 </span>
		</a>

		<b class="arrow"></b>
	</li>
 -->
	<li class="<% if (contents === 'contents/profile') {%>active<%}%>">
		<a href="/dashboard/user_profile<% if (team_id) {%>?team_id=<%= team_id %><%}%>">
			<i class="menu-icon fa fa-list-alt"></i>
			<span class="menu-text"> 개인설정 </span>
		</a>

		<b class="arrow"></b>
	</li>

</ul>

<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
	<i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
</div>