<script type="text/javascript">
	try{ace.settings.loadState('sidebar')}catch(e){}
</script>
<!-- 
<div class="sidebar-shortcuts" id="sidebar-shortcuts">
	<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
		<button class="btn btn-success">
			<i class="ace-icon fa fa-signal"></i>
		</button>

		<button class="btn btn-info">
			<i class="ace-icon fa fa-pencil"></i>
		</button>

		<button class="btn btn-warning">
			<i class="ace-icon fa fa-users"></i>
		</button>

		<button class="btn btn-danger">
			<i class="ace-icon fa fa-cogs"></i>
		</button>
	</div>

	<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
		<span class="btn btn-success"></span>

		<span class="btn btn-info"></span>

		<span class="btn btn-warning"></span>

		<span class="btn btn-danger"></span>
	</div>
</div>
 -->

<ul class="nav nav-list">
	<li class="<% if (contents === 'contents/team_list') {%>active<%}%>">
		<a href="/dashboard/team_list">
			<i class="menu-icon fa fa-tachometer"></i>
			<span class="menu-text"> 팀 리스트 </span>
		</a>

		<b class="arrow"></b>
		
	</li>

	<li class="<% if (contents === 'contents/create_team') {%>active<%}%>">
		<a href="/dashboard/create_team">
			<i class="menu-icon fa fa-desktop"></i>
			<span class="menu-text">
				팀 만들기
			</span>
		</a>

		<b class="arrow"></b>
		
	</li>
	
	<li class="<% if (contents === 'contents/team_schedule') {%>active<%}%>">
		<a href="/dashboard/team_schedule/<%= team_id %>">
			<i class="menu-icon fa fa-calendar"></i>

			<span class="menu-text">
				팀 캘린더
			</span>
		</a>

		<b class="arrow"></b>
	</li>
	
	<li class="">
		<a href="#" class="dropdown-toggle">
			<i class="menu-icon fa fa-file-o"></i>

			<span class="menu-text">
				팀 공유 파일
			</span>
		</a>

		<b class="arrow"></b>
		
	</li>
	
	<li class="">
		<a href="#" class="dropdown-toggle">
			<i class="menu-icon fa fa-pencil-square-o"></i>
			<span class="menu-text"> 팀 공지사항 &amp; 회의록 </span>

			<b class="arrow fa fa-angle-down"></b>
		</a>

		<b class="arrow"></b>

		<ul class="submenu">
			<li class="">
				<a href="form-elements.html">
					<i class="menu-icon fa fa-caret-right"></i>
					공지사항
				</a>

				<b class="arrow"></b>
			</li>

			<li class="">
				<a href="form-elements-2.html">
					<i class="menu-icon fa fa-caret-right"></i>
					회의록
				</a>

				<b class="arrow"></b>
			</li>

		</ul>
	</li>
	
	<li class="">
		<a href="gallery.html">
			<!-- <i class="menu-icon fa fa-picture-o"></i> -->
			<i class="menu-icon fa fa-weixin" ></i>
			<span class="menu-text"> 팀 채팅 </span>
		</a>

		<b class="arrow"></b>
	</li>

<!-- 	
	<li class="">
		<a href="#" class="dropdown-toggle">
			<i class="menu-icon fa fa-list"></i>
			<span class="menu-text"> Tables </span>

			<b class="arrow fa fa-angle-down"></b>
		</a>

		<b class="arrow"></b>

		<ul class="submenu">
			<li class="">
				<a href="tables.html">
					<i class="menu-icon fa fa-caret-right"></i>
					Simple &amp; Dynamic
				</a>

				<b class="arrow"></b>
			</li>

			<li class="">
				<a href="jqgrid.html">
					<i class="menu-icon fa fa-caret-right"></i>
					jqGrid plugin
				</a>

				<b class="arrow"></b>
			</li>
		</ul>
	</li>
 -->
	

	<li class="">
		<a href="widgets.html">
			<i class="menu-icon fa fa-list-alt"></i>
			<span class="menu-text"> 개인설정 </span>
		</a>

		<b class="arrow"></b>
	</li>

	

	
<!-- 
	<li class="">
		<a href="#" class="dropdown-toggle">
			<i class="menu-icon fa fa-tag"></i>
			<span class="menu-text"> More Pages </span>

			<b class="arrow fa fa-angle-down"></b>
		</a>

		<b class="arrow"></b>

		<ul class="submenu">
			<li class="">
				<a href="profile.html">
					<i class="menu-icon fa fa-caret-right"></i>
					User Profile
				</a>

				<b class="arrow"></b>
			</li>

			<li class="">
				<a href="inbox.html">
					<i class="menu-icon fa fa-caret-right"></i>
					Inbox
				</a>

				<b class="arrow"></b>
			</li>

			<li class="">
				<a href="pricing.html">
					<i class="menu-icon fa fa-caret-right"></i>
					Pricing Tables
				</a>

				<b class="arrow"></b>
			</li>

			<li class="">
				<a href="invoice.html">
					<i class="menu-icon fa fa-caret-right"></i>
					Invoice
				</a>

				<b class="arrow"></b>
			</li>

			<li class="">
				<a href="timeline.html">
					<i class="menu-icon fa fa-caret-right"></i>
					Timeline
				</a>

				<b class="arrow"></b>
			</li>

			<li class="">
				<a href="search.html">
					<i class="menu-icon fa fa-caret-right"></i>
					Search Results
				</a>

				<b class="arrow"></b>
			</li>

			<li class="">
				<a href="email.html">
					<i class="menu-icon fa fa-caret-right"></i>
					Email Templates
				</a>

				<b class="arrow"></b>
			</li>

			<li class="">
				<a href="login.html">
					<i class="menu-icon fa fa-caret-right"></i>
					Login &amp; Register
				</a>

				<b class="arrow"></b>
			</li>
		</ul>
	</li>
 -->
	
</ul><!-- /.nav-list -->

<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
	<i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
</div>