<!doctype html>
<html>
	<head>
		<!--
		<meta name="http-equiv" content="Content-type: text/html; charset=UTF-8"/>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>

		
		
		<meta name="author" content="codefuci.us">
		<meta name="rating" content="safe for kids">-->
		
		<title>News Feed</title>
	
	<!-- Open Graph data -->
	<meta property="og:locale" content="en_US">
	<meta property="og:type" content="website">
	<meta property="og:title" content="Your Ultimate frontpage" />  
	<meta property="og:image" content="http://www.windsorultimate.com/resource/img/windsor-ultimate-rose-wrench-logo-2013.png" />	
	<meta property="og:site_name" content="Windsor Ultimate">

	<!-- Twitter Card data -->
	<meta name="twitter:site" content="@windsorultimate">	
	<meta name="twitter:creator" content="@windsorultimate">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:domain" content="Windsor Ultimate">
	<meta name="twitter:image" content="http://www.windsorultimate.com/resource/img/windsor-ultimate-rose-wrench-logo-2013.png">
	
	<link rel="shortcut icon" href="/favicon.ico">

	<!-- Apple icons -->
	<link rel="apple-touch-icon" href="/resource/img/ios/touch-icon-iphone-60x60.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/resource/img/ios/touch-icon-ipad-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/resource/img/ios/touch-icon-iphone-retina-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/resource/img/ios/touch-icon-ipad-retina-152x152.png">	

	
	
	<!--<link type="text/css" rel="stylesheet" href="http://www.windsorultimate.com/resource/css/bootstrap.min.css" />	
	<link type="text/css" rel="stylesheet" href="http://www.windsorultimate.com/resource/css/style.css" />-->
		
			<!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="/css/bootstrap.css" />	

		<!-- Custom styles for this template -->
		<link href="/css/news_feed.css" rel="stylesheet">
		
		
		

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
	<script type="text/javascript" src="http://www.windsorultimate.com/resource/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="http://www.windsorultimate.com/resource/js/scripts.js"></script>
	

	<script type="text/javascript" src="http://www.windsorultimate.com/resource/js/jquery.timeago.js"></script>
	
<script>
$(function() {
	$('span.timeago').timeago();
});
</script>

	</head>
<body>

	<div id="menu-navbar" class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
	  
		<a class="brand" href="/" title="Windsor Ultimate Frisbee - Social League Manager">
			<h1>Windsor Ultimate Frisbee - Social League Manager</h1>
		</a>	
		
        <div class="nav-collapse">
          <ul class="nav">
		  <li class="divider-vertical"></li>
			<li class="active"><a href="http://www.windsorultimate.com/" title="Home"><i class="icon-home icon-white"></i></a></li>
			<li class=""><a href="http://www.windsorultimate.com/league/all" title="Choose a league to play on"><i class="icon-play icon-white"></i></a></li>
			<li class=""><a href="http://www.windsorultimate.com/calendar" title="Check out our Calendar"><i class="icon-calendar icon-white"></i></a></li>	
			<li class=""><a href="http://www.windsorultimate.com/store" title="Your Windsor Ultimate Gear!"><i class="icon-shopping-cart icon-white"></i></a></li>	
            <li class="divider-vertical"></li>
            <li class="dropdown ">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Need some help? Look here"> Learn <b class="caret"></b></a>
              <ul class="dropdown-menu">
				<li><a href="http://www.windsorultimate.com/page/what-is-ultimate-frisbee">What is Ultimate Frisbee?</a></li><li><a href="http://www.windsorultimate.com/page/the-rules-of-ultimate">The Rules of Ultimate</a></li><li><a href="http://www.windsorultimate.com/page/about-spirit-of-the-game">About Spirit of the Game</a></li><li><a href="http://www.windsorultimate.com/page/how-to-rank-your-team-mates">How to rank your team-mates</a></li><li><a href="http://www.windsorultimate.com/page/indoor-ultimate-rules-of-play">Indoor Ultimate Rules of play</a></li><li><a href="http://www.windsorultimate.com/page/offensive-strategy">Offensive Strategy</a></li><li><a href="http://www.windsorultimate.com/page/how-to-catch-a-frisbee">How to catch a frisbee</a></li><li><a href="http://www.windsorultimate.com/page/how-to-throw-a-disc">How to throw a disc</a></li><li><a href="http://www.windsorultimate.com/page/defensive-strategy">Defensive Strategy</a></li><li><a href="http://www.windsorultimate.com/page/a-captains-responsibility">A Captain's Responsibility</a></li>              </ul>
            </li>
            <li class="dropdown ">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="About Windsor Ultimate"> About <b class="caret"></b></a>
              <ul class="dropdown-menu">
				<li><a href="http://www.windsorultimate.com/page/about-windsor-ultimate">About Windsor Ultimate</a></li><li><a href="http://www.windsorultimate.com/page/spirit-of-the-game-ranking">Spirit of the Game Ranking</a></li><li><a href="http://www.windsorultimate.com/page/lightning-and-adverse-weather-policy">Lightning and Adverse Weather Policy</a></li><li><a href="http://www.windsorultimate.com/page/refund-policy">Refund Policy</a></li><li><a href="http://www.windsorultimate.com/page/spirit-of-the-game-misconduct-policy">Spirit of the Game Misconduct Policy</a></li><li><a href="http://www.windsorultimate.com/page/contact-us">Contact Us</a></li>              </ul>
            </li>
          </ul>

						<div class="btn-group pull-right">
				<a href="http://www.windsorultimate.com/account/login" class="btn btn-info"><b>Login</b> <i>or</i> <b>Sign-up</b></a>			</div>
			
            	
        </div><!-- /.nav-collapse -->
      </div>
    </div><!-- /navbar-inner -->
</div>
  

<div class="container" id="header">
</div>


	<div class="container" id="content">
		<div class="row">
			<div class="span2">

			
	<div class="" id="home-side-menu">
		<ul class="nav nav-list">
			<li class="nav-header">Play</li>
			<li class="active">
				<a href="http://www.windsorultimate.com/"><i class="icon-home icon-white"></i> Home</a></li>
			<li >
				<a href="http://www.windsorultimate.com/league/all"><i class="icon-play "></i> League</a></li>
			<li >
				<a href="http://www.windsorultimate.com/calendar"><i class="icon-calendar "></i> Calendar</a></li>	
			<li >
				<a href="http://www.windsorultimate.com/users/badges/all"><i class="icon-certificate "></i> Badges</a></li>		
			
			<li class="nav-header">Learn</li>
			<li><a href="http://www.windsorultimate.com/page/how-to-throw-a-disc"><i class="icon-info-sign"></i> Throwing</a></li>
			<li><a href="http://www.windsorultimate.com/page/how-to-catch-a-frisbee"><i class="icon-info-sign"></i> Catching</a></li>
			<li><a href="http://www.windsorultimate.com/page/defensive-strategy"><i class="icon-info-sign"></i> Defense</a></li>
			<li><a href="http://www.windsorultimate.com/page/offensive-strategy"><i class="icon-info-sign"></i> Offense</a></li>	
			
			<li class="nav-header">Help &amp; About</li>
			<li><a href="http://www.windsorultimate.com/page/what-is-ultimate-frisbee"><i class="icon-eye-open"></i> Ultimate Frisbee</a></li>
			<li><a href="http://www.windsorultimate.com/page/about-windsor-ultimate"><i class="icon-question-sign"></i> Windsor Ultimate</a></li>
			<li><a href="http://www.windsorultimate.com/page/contact-us"><i class="icon-envelope"></i> Contact Us</a></li>
			<li><a href="http://www.windsorultimate.com/page/report-a-bug" title="This site is a beta, if you find a problem and something isn't working as it should submit a bug report!"><i class="icon-fire"></i> Report a Bug</a></li>
			
			<li class="divider"></li>
		</ul>
		
		<div class="share-buttons">
			<a id="share-gp" href="#" target="_blank"><img src="/resource/img/icon/share_gplus.png" height="32" width="32" title="Share on Google+" alt="Share on Google+"></a>
			<a id="share-t" href="#" target="_blank"><img src="/resource/img/icon/share_t.png" height="32" width="32" title="Share on Twitter" alt="Share on Twitter"></a>
			<a id="share-fb"  href="#" target="_blank"><img src="/resource/img/icon/share_fb.png" height="32" width="32" title="Share on Facebook" alt="Share on Facebook"></a>
		</div>
		
	</div>			
			</div>
		
			<div class="span10 homepage-content">
						
					

												
				
				<a href="/league/all" title="Ultimate summer season starts week of 5/29/2017">				
					<div class="homepage-splash center">
						<img src="/files/shoes-summer-ultimate-2017.jpg" height="285" width="740" alt="Ultimate summer season starts week of 5/29/2017">
						<h2 style="position: absolute; top: 25px; left: 375px; width: 360px; text-align: left; text-transform: uppercase; text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black; line-height: 29pt; z-index: 5; color: #FFF; font-size: 28pt; -webkit-transition: -webkit-transform .15s linear; -webkit-font-smoothing: antialiased;">Ultimate summer season starts week of 5/29/2017</h2>
					</div>
				</a>				
				<div class="page-header">
									
					<h2>Newsfeed</h2>
				</div>
				
					
<div id="post-266" class="row post-entry">
	<div class='span1'>
		<div class="post-userphoto">
		<a href='/users/84/flyingfox' title='View users profile' rel="author">
		<img  src="http://graph.facebook.com/558400631/picture?width=48&amp;height=48" style="height:48px; width:48px;" title="Click to view user profile" alt="Click to view user profile" class="member-photo">		</a>
		</div>
	</div>
	<div class='span9'>
		<div class='post-text'>
			<div class="post-title">
			<a href="http://www.windsorultimate.com/posts/266/panic-at-the-disc-throw-free-skills-clinic" title="link to, view, or share the full post" rel="bookmark"><h2>Panic at the disc throw - Free Skills Clinic</h2></a>			</div>
		Come one, come all and join us for our LAST free clinic of the summer. This is a FREE event for everyone, including those that (for some reason) still have not registered and wanted to come out and learn some skills (or brush up on old worn out ones). We will focus on: - Beginner skills... <a href="http://www.windsorultimate.com/posts/266/panic-at-the-disc-throw-free-skills-clinic" title="click to read the complete post">more</a>		
		</div>
		<div class='post-menu'>
			<span>
							
				<a href="http://www.windsorultimate.com/posts/266/panic-at-the-disc-throw-free-skills-clinic" title="view post comments" class="toggle-comments" rel="tooltip">no comments</a>			</span>
			<div>
				<span class='date ' title='2017-05-23 22:13:01'>May 23 at 10:13PM</span> by 
				<span class='user'><a href='/users/84/flyingfox' title='view users profile'>Flyingfox</a></span>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>

	
<div id="post-265" class="row post-entry">
	<div class='span1'>
		<div class="post-userphoto">
		<a href='/users/1/kuba' title='View users profile' rel="author">
		<img  src="http://www.windsorultimate.com/files/user_kuba_9e11e7a2799a525fecc95aa26d931422.jpg" style="height:48px; width:48px;" title="Click to view user profile" alt="Click to view user profile" class="member-photo">		</a>
		</div>
	</div>
	<div class='span9'>
		<div class='post-text'>
			<div class="post-title">
			<a href="http://www.windsorultimate.com/posts/265/mondays-are-more-fun-than-ever-this-summer" title="link to, view, or share the full post" rel="bookmark"><h2>Monday's are more fun than ever this Summer!</h2></a>			</div>
		Ultimate Monday's are more fun than ever this summer. We've been hearing feedback from our community of members, and are mixing up the approach for Monday games. It will be a build your own style team core, but the board will distribute single or small group sign ups between the built teams... <a href="http://www.windsorultimate.com/posts/265/mondays-are-more-fun-than-ever-this-summer" title="click to read the complete post">more</a>		
		</div>
		<div class='post-menu'>
			<span>
							
				<a href="http://www.windsorultimate.com/posts/265/mondays-are-more-fun-than-ever-this-summer" title="view post comments" class="toggle-comments" rel="tooltip">no comments</a>			</span>
			<div>
				<span class='date ' title='2017-05-13 16:13:49'>May 13 at 04:13PM</span> by 
				<span class='user'><a href='/users/1/kuba' title='view users profile'>kuba</a></span>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>

	
<div id="post-264" class="row post-entry">
	<div class='span1'>
		<div class="post-userphoto">
		<a href='/users/1/kuba' title='View users profile' rel="author">
		<img  src="http://www.windsorultimate.com/files/user_kuba_9e11e7a2799a525fecc95aa26d931422.jpg" style="height:48px; width:48px;" title="Click to view user profile" alt="Click to view user profile" class="member-photo">		</a>
		</div>
	</div>
	<div class='span9'>
		<div class='post-text'>
			<div class="post-title">
			<a href="http://www.windsorultimate.com/posts/264/weve-got-another-indoor-clinic-tomorrow-56-at-1230pm" title="link to, view, or share the full post" rel="bookmark"><h2>We've got another indoor clinic tomorrow! [5/6 at 12:30pm]</h2></a>			</div>
		Will you join us for our 2nd FREE clinic of the year? We are very excited to be able to host at the brand new and spectacular Central Park Athletic Centre THIS Saturday, May 6th!!! The location is indoors with the weather no longer a factor to learning. We will focus on skills training for... <a href="http://www.windsorultimate.com/posts/264/weve-got-another-indoor-clinic-tomorrow-56-at-1230pm" title="click to read the complete post">more</a>		
		</div>
		<div class='post-menu'>
			<span>
							
				<a href="http://www.windsorultimate.com/posts/264/weve-got-another-indoor-clinic-tomorrow-56-at-1230pm" title="view post comments" class="toggle-comments" rel="tooltip">no comments</a>			</span>
			<div>
				<span class='date ' title='2017-05-05 09:46:38'>May 05 at 09:46AM</span> by 
				<span class='user'><a href='/users/1/kuba' title='view users profile'>kuba</a></span>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>

	
<div id="post-263" class="row post-entry">
	<div class='span1'>
		<div class="post-userphoto">
		<a href='/users/1/kuba' title='View users profile' rel="author">
		<img  src="http://www.windsorultimate.com/files/user_kuba_9e11e7a2799a525fecc95aa26d931422.jpg" style="height:48px; width:48px;" title="Click to view user profile" alt="Click to view user profile" class="member-photo">		</a>
		</div>
	</div>
	<div class='span9'>
		<div class='post-text'>
			<div class="post-title">
			<a href="http://www.windsorultimate.com/posts/263/free-skills-clinic-sat-april-29th" title="link to, view, or share the full post" rel="bookmark"><h2>FREE SKILLS CLINIC SAT APRIL 29TH!</h2></a>			</div>
		Come one, come all and join us for our first free clinic of the year. We are very excited to be able to host at the brand new and spectacular Central Park Athletic Centre THIS Saturday, April 29th!!! The location is indoors with the weather no longer a factor. There will be training for... <a href="http://www.windsorultimate.com/posts/263/free-skills-clinic-sat-april-29th" title="click to read the complete post">more</a>		
		</div>
		<div class='post-menu'>
			<span>
							
				<a href="http://www.windsorultimate.com/posts/263/free-skills-clinic-sat-april-29th" title="view post comments" class="toggle-comments" rel="tooltip">no comments</a>			</span>
			<div>
				<span class='date ' title='2017-04-28 11:34:32'>Apr 28 at 11:34AM</span> by 
				<span class='user'><a href='/users/1/kuba' title='view users profile'>kuba</a></span>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>

				
				<div class="pagination pagination-right">
					<ul><li><a href="/home/posts/">Older News ›</a></li></ul>
				</div>
				<div class="bottom_20"></div>
				
			</div>		
		</div>
		
		<div class="row">

			<div class="span2">
				&nbsp;
			</div>
			<div class="span10">
				<h3>Our Friends</h3>
				<div class="inner" style="margin: 0 auto; width:90%">
					
					<a href="http://wrace.org/" title="W.R.A.C.E - Walkers &amp; Runners&#013;around the county of Essex" target="_blank">
						<img src="/resource/img/sponsor-wrace.png" height="72" width="168" alt="WRACE"></a> 
					
											<img src="/resource/img/sponsor-avgjoes.png" height="72" width="168" alt="Just your Average Joe's">

					<a href="http://www.annarborultimate.org/" title="Ann Arbor Ultimate" target="_blank">
						<img src="/resource/img/local-a2ultimate.png" height="72" width="168" alt="Ann Arbor Ultimate"></a>

					<a href="http://windsor.spottedin.ca/" title="SpottedIn.ca - Windsor" target="_blank">
						<img src="/resource/img/sponsor-spottedin-windsor.png" height="72" width="168" alt="SpottedIn.ca - Windsor"></a>
				
				</div>		
			</div>

		</div>		
        <div class="clear"></div>
		
	</div>
	<div class="container" id="footer">
	<div class="row">
		<div class="span7">
				</div>
		<div class="span5" style="text-align: right;">
			<div style="padding-right: 25px;">
			<a href="http://www.windsorultimate.com/page/contact-us">Contact Us</a> |  
			<a href="http://www.windsorultimate.com/page/privacy-policy">Privacy Policy</a> |  
			Powered by: <a href="http://codefuci.us/" title="CodeFuci.us" target="_blank">CodeFuci.us</a>
			</div>
		</div>
	</div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-2060349-1', 'auto');
  ga('send', 'pageview');

</script>	
</body>
</html>
		
		